*{
    margin: 0;
    background-color: rgb(222, 222, 222);
}
.logo{
    margin: 0;
    font-family: cursive;
    padding: 15px 15px;
    font-size: 3rem;
    background-color: rgb(234, 234, 234);
}
.logo a{
    color: blue;
    text-decoration: none;
    background-color: transparent;
}
.login_form{
    background-image: url('../images/student.png');
    background-repeat: no-repeat;
    background-position-y: 25%; 
    background-position-x: 27%; 
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.login_contents{
    border: 3px solid rgb(207, 207, 207);
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px ;
    display: flex;
    flex-direction: column;
    align-items: center
}
.login_contents *{
    background-color: white;
}
.login_contents h2{
    font-size: 3.5rem;
    font-family: cursive;
    color: blue
}
.login_contents h1{
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 300;
}
.login_contents label{
    color: rgb(100, 100, 100);
}
.login_contents input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    outline: gray;
    border-radius: 10px;
    margin: 15px 5px;
    border: 1px solid gray;
}
.error{
    color: red;
}
.success{
    color: green;
}
.login_button{
    background-color: blue;
    margin: 0;
    color: darkblue;
    font-weight: bold;
    border: 3px solid lightblue;
}